header{
 min-height: 100dvh;
	display: flex;
	flex-direction: column;
	flex: 1;
 border-bottom: 1px solid rgba(255, 255, 255, 0.18);
}


.count_down{
 display: flex;
}



.getlinked_tech_imgs{
 position: relative;
 padding: 0;
 margin: 0;
 
}

.vr{
 bottom: 0;
}



section.introduction,
section.rules,
section.criteria,
section.partners{
 display: flex;
 align-items: center;
 justify-content: space-evenly;
	flex-wrap: wrap;
 border-bottom: 1px solid rgba(255, 255, 255, 0.18);
}

section.introduction{
  padding-top: 62px;
  padding-bottom: 78px;
}

section.introduction>article,
section.rules>article,
section.criteria>article{
 max-width: 500px;
}







.item_title{
 font-size: 16px;
 font-weight: 700;
 line-height: 27.76px;
 font-family: var(--ff-primary);
}

.criteria_item>p{
 color: var(--clr-white);
 font-family: var(--ff-primary);
 font-size: 14px;
 font-style: normal;
 font-weight: 400;
 line-height: 173.5%;
}

section.criteria>article>h3{
 margin-bottom: 21px;
}

article.criteria_item{
 margin-bottom: 22px;
}

section.criteria {
 padding-top: 78px;
 padding-bottom: 171px;
}

/* faq style */

section.faq_section{
 display: flex;
 align-items: center;
 justify-content: space-evenly;
	flex-wrap: wrap;
}

#faq {
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
	margin-bottom: 30px;
}

.faq {
	color: white;
	padding: 1.2rem;
	display: flex;
	flex-direction: column;
	border-radius: 0.7rem;
	margin: 0.5rem;
}

#faq h2 {
	font-weight: 900;
}

.faq_question {
	display: flex;
	padding: 0.5rem 0;
	justify-content: space-between;
 border-bottom: 1px solid var(--clr-purple-1);
}

.faq_reply {
	/* border-top: 1px dotted white; */
	padding: 0.5rem 0;
}

.faq_que > p {
	text-align: center;
 margin-bottom: 0;
 color: var(--clr-white);
 font-family: var(--ff-primary);
 font-size: 14px;
 font-style: normal;
 font-weight: 400;
 line-height: 27.5px;
}

.faq_reply > p {
	text-align: center;
 color: var(--clr-white);
 font-family: var(--ff-primary);
 font-size: 14px;
 font-style: normal;
 font-weight: 400;
 line-height: 27.5px;
 
}

.question_btn {
	font-size: 1.5rem;
	border-color: transparent;
	background: transparent;
	color: white;
	outline: none;
}

.minus-icon {
	display: none;
}

.faq_reply {
	display: none;
}
.faq.show .faq_reply {
	display: block;
}

.plus-icon {
	display: block;
}

.show .minus-icon {
	display: inline;
}

.show .plus-icon {
	display: none;
}

.faq_title{
 padding: 1.2rem;
}

.faq_title>p{
 max-width: 300px;
}

.faq_section{
 padding: 70px 0;
}


/* timeline style */

.timeline_title{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 text-align: center;
}

.timeline_title>p{
 max-width: 346px;
 color: var(--clr-white);
 text-align: center;
 font-family: var(--ff-primary);
 font-size: 14px;
 font-style: normal;
 font-weight: 400;
 line-height: 24.136px;
}

/* prizes style */
section.prizes{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	padding-top: 74px;
	padding-bottom: 149px;
}

.prize_list_heading{
	margin-bottom: 15rem;
}
.prize_list_heading>h3{
	color: var(--clr-white);
	font-family: var(--ff-secondary);
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.prize_list_heading>p{
	color: var(--clr-white);
	font-family: var(--ff-primary);
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 27.344px;
}

.prize_list_content{
	display: flex;
	align-items: center;
}

.side_prize>img{
	position:absolute;
	top: -30%;
}

.side_prize.first>img{
	top: -50%;
}

.side_prize_text.first>h4{
	margin-top: 4rem;
}

/* partners */
section.partners{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.partners_heading{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}


.partners_heading>p{
	max-width: 450px;
	text-align: center;
	color: var(--clr-white);
	text-align: center;
	font-family: var(--ff-primary);
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 27.5px;
	/* 196.429% */
}

.partners_content{
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	border: 1px solid var(--clr-purple-1);
	background: rgba(255, 255, 255, 0.01);
	margin: 80px;
	max-width: 80%;
}



.partners_content_inner_item{
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	margin: auto;
	position: relative;
	/* background-color: var(--clr-purple-2); */
}



/* privacy policy style */
section.privacy{
	display: flex;
	align-items: center;
	justify-content:space-evenly;
	padding: 160px 0;
	/* background: url('../../public/imgs/Vector\ \(1\).png') no-repeat; */
	background-position: 85% 20%;
	flex-wrap: wrap;
}

article.privacy{
	max-width: 550px;
}

.privacy_heading>small{
	color: rgba(255, 255, 255, 0.75);
	font-family: var(--ff-primary);
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 27.5px;
}
.privacy_heading>p{
	color: var(--clr-white);
	font-family: var(--ff-primary);
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 188.4%;
	max-width: 430px;
	margin-bottom: 40px;
}

article.policy> p{
	color: #FFF;
	font-family: Montserrat;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 30.296px;
	margin-bottom: 24px;
}

article.license>h4{
	font-family: var(--ff-primary);
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 34.624px;
}

article.license>h5 {
	color: var(--clr-white);
	font-family: var(--ff-primary);
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: 30.296px;
}

article.license>ul>li{
	list-style-image: url('../../public/imgs/list terms.svg');
	margin-bottom: 18px;
	padding: 5px 10px;
	margin-left: 20px;
}

.policy_img{
	/* width: 100%; */
	
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

/* footer */
footer{
	background: var(--clr-purple-4);
	display: flex;
	flex-direction: column;
}

.footer_content{
	display: flex;
	margin-bottom: 50px;
}

.getlinked_about,
.getlinked_items{
	width: 50%;
	/* max-width: 89px; */
}

.getlinked_about>p{
	max-width: 400px;
}

.getlinked_items{
	display: flex;
	justify-content: space-between;
}

.getlinked_items_links{
	display: flex;
	flex-direction: column;
}

.getlinked_contact{
	max-width: 100px;
}

.footer_rights>p{
	text-align: center;
	color: var(--clr-white);
	font-family: var(--ff-primary);
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.getlinked_about>h4{
	color: var(--clr-white);
	font-family: var(--ff-secondary);
	font-size: 30px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.getlinked_about>p{
	color: var(--clr-white);
	font-family: var(--ff-primary);
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 20.688px;
	text-align: unset;
}

.getlinked_about>p.terms{
	color: var(--clr-white);
	font-family: var(--clr-white);
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 20.688px;
}

.getlinked_items_links h5,
.getlinked_contact h5{
	font-family: var(--ff-primary);
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: 24.136px;
	margin-bottom: 20px;
}
.getlinked_items_links a,
.getlinked_contact p{
	color: var(--clr-white);
	font-family: var(--ff-primary);
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 20.688px;
	margin-bottom: 5px;
}

.follow{
	display: flex;
	align-items: center;
}

.follow>h6{
	margin-right: 10px;
	font-family: var(--ff-primary);
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.follow>img{
	margin-right: 10px;
}

/* timeline */
.timeline_body{
	display: flex;
	justify-content: center;
	align-items: center;
}

.timeline_body_content{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

}

.timeline_body_content_item{
	display: flex;
	justify-content: center;
}
.content_item_middle{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


.content_item_first{
	/* display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end; */
	text-align: right;
}

span.stroke_div{
	display: flex;
	flex-direction: column;
	/* box-sizing: content-box; */
	box-sizing: border-box;
}

span.stroke_div>img{
	/* float: right; */
	/* width: 100px; */
}

.ignition_inner{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-right: 55px;
}



@media screen and (min-width: 320px){
	section{
		padding: 10px;
	}
	.header_ignition {
		width: 100%;
		display: flex;
		justify-content: flex-end;
		margin-right: 55px;
		margin-top: 32px;
	}
	
	.ignition_inner>p {
		color: var(--clr-white);
		font-family: var(--ff-primary);
		font-size: 12px;
		font-style: italic;
		font-weight: 700;
		line-height: normal;
		/* margin-right: 55px; */
		text-align: center;
		margin: 0;
	}

	/*  */
	.getlinked_tech_contents {
		/* margin-left: 100px; */
	}

	.vr{
		width: 100%;
	}

	.chain{
		width: 80%;
	}

	.getlinked_tech_imgs{
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.getlinked_tech_contents,
	.getlinked_tech_imgs {
		width: 100%;
	}

	.getlinked_tech_contents{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.getlinked_tech_contents>h2 {
		color: var(--clr-white);
		font-family: var(--ff-secondary);
		font-size: 32px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		margin-bottom: 8px;
		text-align: center;
		/* max-width: 597px; */
	}

	.getlinked_tech_contents>h2>img {
		display: inline;
		height: 20px;
		width: 20px;
	}


	.getlinked_tech_contents>p {
		color: #FFF;
		font-family: var(--ff-primary);
		font-size: 13px;
		font-style: normal;
		font-weight: 400;
		line-height: 33.2px;
		margin-bottom: 41px;
		max-width: 522px;
		text-align: center;
	}

	.read_more,
	.getlinked_tech_contents>a {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 172px;
		height: 53px;
		border-radius: 4px;
		background: var(--clr-purple-gradient);
		border: none;
		color: #FFF;
		font-family: var(--ff-primary);
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		margin-bottom: 77px;
	}

	.chain {
		position: absolute;
		z-index: 2;
		top: 0;
		left: 30px;
	}

	.count_down>p>span {
		color: #FFF;
		font-family: var(--ff-secondary-2);
		font-size: 48px;
		font-style: normal;
		font-weight: 400;
		line-height: 85.12px;
	}

	.count_down>p {
		text-transform: uppercase;
		color: #FFF;
		font-family: var(--ff-secondary-2);
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 18.62px;
		margin-right: 20px;
		text-align: center;
	}

	.partners_content_inner {
		padding: 10px;
		display: grid;
		grid-template-columns: 80px 80px 80px;
		place-items: center;
		grid-gap: 5px;
	}

	.partners_content_inner_item>img{
		width: 100%;
	}

	.partners_content{
		margin: 20px;
	}

	.faq_section>img {
		width: 280px;
		height: 280px;
	}

	/*  */
	.side_prize {
		width: 90px;
		/* height: 296px; */
		border-radius: 8px;
		border: 1px solid var(--clr-purple-1);
		background: rgba(212, 52, 254, 0.12);
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		margin-left: 10px;
	}

	.side_prize_text {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding-top: 1.5rem;
		/* padding: 5px; */
	}

	.side_prize_text.first>h4{
		margin-top: 2rem;
	}

	.side_prize_text>h4 {
		color: var(--clr-white);
		font-family: var(--ff-primary);
		font-size: 12px;
		font-style: normal;
		font-weight: 700;
		line-height: 24px;
		margin-top: 1rem;
	}

	.side_prize_text>p {
		color: var(--clr-white);
		font-family: var(--ff-primary);
		font-size: 12px;
		font-style: normal;
		font-weight: 600;
		line-height: 25px;
	}

	.side_prize_text>h1 {
		font-family: var(--ff-primary);
		font-size: 10px;
		font-style: normal;
		font-weight: 700;
		line-height: 32px;
	}

	.side_prize>img{
		width: 75px;
	}

	.side_prize.first>img {
		width: 125px;
	}

	.introduction>img,
	.criteria>img,
	.rules>img,
	.policy_img>img,
	.prizes>img{
		width: 80%;
		margin-bottom: 30px;
	}

	footer {
		padding: 10px;
		flex-wrap: wrap;
	}
	.getlinked_items,
	.footer_content{
		flex-wrap: wrap;
		flex-direction: column;
	}
	h3,
	p{
		text-align: center;
	}

	section.introduction>article>h3,
	section.rules>article>h3,
	section.criteria>article>h3 {
		color: var(--clr-white);
		font-family: var(--ff-secondary);
		font-size: 20px;
		font-style: normal;
		font-weight: 700;
	}
	p,
	section.introduction>article>p,
	section.rules>article>p {
		color: var(--clr-white);
		font-family: var(--ff-primary);
		font-size: 13px;
		font-style: normal;
		font-weight: 400;
		line-height: 27.5px;
	}

	main.getlinked_main {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		flex-wrap: wrap;
	}

	article.privacy{
		border-radius: 5px;
		border: 1px solid #D434FE;
		background: rgba(217, 217, 217, 0.03);
		padding: 10px;
		margin: 10px;
	}

	section.timeline {
		padding-top: 20px;
		padding-bottom: 30px;
	}

	.content_item_first,
	.content_item_second {
		display: none;
	}

	.content_item_middle {
		padding-right:20px;
	}

	.timeline_body h5 {
		color: var(--clr-purple-1);
		font-family: var(--ff-primary);
		font-size: 12px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		margin-bottom: 12px;
	}

	.timeline_body p {
		color: var(--clr-white);
		font-family: var(--ff-primary);
		font-size: 10px;
		font-style: normal;
		font-weight: 400;
		line-height: 170.9%;
		text-align: start;
		/* 23.926px */
	}

	.timeline_line {
		width:2px;
		height: 77px;
		background: var(--clr-purple-1);
		margin-bottom: 10px;
	}

	.timeline_circle {
		width: 25px;
		height: 25px;
		background: var(--clr-purple-gradient);
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 26px;
		color: var(--clr-white);
		font-family: var(--ff-primary);
		font-size: 12px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		margin-bottom: 10px;
	}

	.read_more_div{
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.ignition_inner>img {
		width: 85px;
	}

	.partners_content_inner_item:nth-child(-n+2),
	.partners_content_inner_item:nth-child(4),
	.partners_content_inner_item:nth-child(5) {
		border-right: 2px solid var(--clr-purple-1);
		/* border-width: 80%; */
		/* border-spacing: 2px; */
	}

	.partners_content_inner_item:nth-child(-n+3) {
		border-bottom: 2px solid var(--clr-purple-1);
		/* border-width: 80%; */
	}

	header {
		background: radial-gradient(40% 20% at 20% 24.31%, #43097e 0%, transparent 80%);
	}

	section.rules {
		background: radial-gradient(40% 40% at 90% 90%, #43097e 0%, transparent 100%),
			radial-gradient(40% 30% at 20% 24.31%, #43097e 0%, transparent 100%);
	}

	section.criteria {
		background: radial-gradient(30% 10% at 90% 90%, #43097e 0%, transparent 100%),
			radial-gradient(50% 10% at 20% 14.31%, #43097e 0%, transparent 80%);
	}

	section.prizes {
		background: radial-gradient(20% 10% at 90% 90%, #43097e 0%, transparent 100%),
			radial-gradient(30% 15% at 20% 15.31%, #43097e 0%, transparent 80%);
	}

	section.partners {
		background: radial-gradient(30% 30% at 90% 90%, #43097e 0%, transparent 100%),
			radial-gradient(30% 30% at 20% 35.31%, #43097e 0%, transparent 80%);
	}

	section.privacy {
		background: radial-gradient(30% 10% at 15% 45.31%, #43097e 0%, transparent 80%);
	}
}

@media screen  and (min-width: 360px){
	section {
		padding: 20px;
	}

	article.privacy{
		margin: 20px;
	}

	.ignition_inner>p {
		color: var(--clr-white);
		font-family: var(--ff-primary);
		font-size: 16px;
		font-style: italic;
		font-weight: 700;
		line-height: normal;
		/* margin-right: 55px; */
		text-align: center;
		margin: 0;
	}
}

@media screen and (min-width: 768px){
		.ignition_inner>img {
			width: 105px;
		}

.getlinked_tech_contents {
		margin-left: 100px;
	}

	.getlinked_tech_contents,
	.getlinked_tech_imgs {
		width: 50%;
	}

	.getlinked_tech_contents>h2 {
		color: var(--clr-white);
		font-family: var(--ff-secondary);
		font-size: 50px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		margin-bottom: 8px;
		/* max-width: 597px; */
		text-align: unset;
	}

	.getlinked_tech_contents>h2>img {
		display: inline;
		height: 50px;
		width: 50px;
	}


	.getlinked_tech_contents>p {
		color: #FFF;
		font-family: var(--ff-primary);
		font-size: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: 33.2px;
		margin-bottom: 41px;
		max-width: 522px;
		text-align: unset;
	}

	.read_more,
	.getlinked_tech_contents>a {
		width: 172px;
		height: 53px;
		border-radius: 4px;
		background: var(--clr-purple-gradient);
		border: none;
		color: #FFF;
		font-family: var(--ff-primary);
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		margin-bottom: 77px;
	}

	.chain {
		position: absolute;
		z-index: 2;
		top: 0;
		left: 66px;
	}

	.getlinked_tech_contents {
		display: initial;
		/* flex-direction: column;
		justify-content: center;
		align-items: center; */
	}

	.count_down>p>span {
		color: #FFF;
		font-family: var(--ff-secondary-2);
		font-size: 64px;
		font-style: normal;
		font-weight: 400;
		line-height: 85.12px;
	}

	.count_down>p {
		text-transform: uppercase;
		color: #FFF;
		font-family: var(--ff-secondary-2);
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 18.62px;
		margin-right: 20px;
		text-align: unset;
	}

	/*  */
	.side_prize {
		width: 150px;
		/* height: 296px; */
		border-radius: 8px;
		border: 1px solid var(--clr-purple-1);
		background: rgba(212, 52, 254, 0.12);
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		margin-left: 30px;
	}

	.side_prize_text {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding-top: 4rem;
	}

	.side_prize_text>h4 {
		color: var(--clr-white);
		font-family: var(--ff-primary);
		font-size: 36px;
		font-style: normal;
		font-weight: 700;
		line-height: 77.904px;
		margin-top: 1rem;
	}

	.side_prize_text>p {
		color: var(--clr-white);
		font-family: var(--ff-primary);
		font-size: 24px;
		font-style: normal;
		font-weight: 600;
		line-height: 51.936px;
	}

	.side_prize_text>h1 {
		font-family: var(--ff-primary);
		font-size: 28px;
		font-style: normal;
		font-weight: 700;
		line-height: 69.248px;
	}

	.side_prize_text.first>h4 {
		margin-top: 4rem;
	}

	section.introduction>article>h3,
	section.rules>article>h3,
	section.criteria>article>h3 {
		color: var(--clr-white);
		font-family: var(--ff-secondary);
		font-size: 32px;
		font-style: normal;
		font-weight: 700;
	}

	article.privacy {
		border-radius: 5px;
		border: 1px solid #D434FE;
		background: rgba(217, 217, 217, 0.03);
		padding: 30px;
	}

	.license_btn{
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.content_item_middle{
		padding: 0px 120px;
	}
}

@media screen and (min-width: 1024px) {
	.ignition_inner>img {
		width: 155px;
	}

	.header_ignition {
		width: 100%;
		display: flex;
		justify-content: flex-end;
		margin-right: 55px;
		margin-top: 32px;
		margin: 0;
	}
	
	.ignition_inner>p {
		color: var(--clr-white);
		font-family: var(--ff-primary);
		font-size: 30px;
		font-style: italic;
		font-weight: 700;
		line-height: normal;
		/* margin-right: 55px; */
	}

	.partners_content_inner {
		padding: 50px;
		display: grid;
		grid-template-columns: 300px 300px 300px;
		place-items: center;
		grid-gap: 20px;
	}

	.partners_content {
		margin: 80px;
	}

	.faq_section>img {
		width: 600px;
		height: 600px;
	}

	.getlinked_items,
	.footer_content {
		flex-wrap: wrap;
		flex-direction: row;
	}

	h3,
	p {
		text-align: unset;
	}

	.introduction>img,
	.criteria>img,
	.rules>img,
	.policy_img>img,
	.prizes>img {
		width: 45%;
		margin-bottom: 30px;
	}

	footer {
		padding: 30px;
		flex-wrap: wrap;
	}

	.content_item_first,
	.content_item_second {
		width: 35%;
		height: 200px;
		display: flex;
		/* align-items: flex-end; */
		justify-content: flex-end;
		flex-direction: column;
		/* height: 100%; */
	}

	.content_item_mobile{
		display: none;
	}

	.timeline_body h5 {
		color: var(--clr-purple-1);
		font-family: var(--ff-primary);
		font-size: 24px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		margin-bottom: 12px;
	}

	.timeline_body p {
		color: var(--clr-white);
		font-family: var(--ff-primary);
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 170.9%;
		/* 23.926px */
	}

	.timeline_line {
		width: 4px;
		height: 137px;
		background: var(--clr-purple-1);
		margin-bottom: 10px;
	}

	.timeline_circle {
		width: 53px;
		height: 53px;
		background: var(--clr-purple-gradient);
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 26px;
		color: var(--clr-white);
		font-family: var(--ff-primary);
		font-size: 24px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		margin-bottom: 10px;
	}

	.read_more_div {
		display: flex;
		justify-content: start;
		align-items: center;
	}
}

@media screen and (min-width: 1200px) {
	.ignition_inner>img {
		width: 185px;
	}

	.partners_content_inner {
		/* padding: 100px; */
		display: grid;
		grid-template-columns: 300px 300px 300px;
		place-items: center;
		grid-gap: 20px;
	}

	main.getlinked_main {
		display: flex;
		align-items: center;
		/* justify-content: space-evenly; */
		flex-wrap: nowrap;
	}

	.side_prize {
		width: 180px;
		/* height: 296px; */
		border-radius: 8px;
		border: 1px solid var(--clr-purple-1);
		background: rgba(212, 52, 254, 0.12);
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		margin-left: 30px;
	}

	.side_prize>img {
		width: 149px;
	}

	.side_prize.first>img {
		width: 266px;
	}

	.policy_img>img{
		width: 80%;
	}

	footer {
		padding: 50px;
		flex-wrap: wrap;
	}

	.faq_title>h3 {
		color: var(--clr-white);
		font-family: var(--ff-secondary);
		font-size: 32px;
		font-style: normal;
		font-weight: 700;
	}

	.timeline_title>h3 {
		color: var(--clr-white);
		font-family: var(--ff-secondary);
		font-size: 32px;
		font-style: normal;
		font-weight: 700;
	}

	.privacy_heading>h3 {
		color: var(--clr-white);
		font-family: var(--ff-secondary);
		font-size: 32px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
	}

	.partners_heading>h3 {
		text-align: center;
		margin-bottom: 22px;
		color: var(--clr-white);
		font-family: var(--ff-secondary);
		font-size: 32px;
		font-style: normal;
		font-weight: 700;
		line-height: 27.5px;
	}

	.partners_content_inner_item:nth-child(-n+2),
	.partners_content_inner_item:nth-child(4),
	.partners_content_inner_item:nth-child(5) {
		border-right: 4px solid var(--clr-purple-1);
		/* border-width: 80%; */
		/* border-spacing: 2px; */
	}

	.partners_content_inner_item:nth-child(-n+3) {
		border-bottom: 4px solid var(--clr-purple-1);
		/* border-width: 80%; */
	}

	header{
		background: radial-gradient(40% 40% at 90% 50%, #43097e 0%, transparent 100%),
		radial-gradient(40% 40% at 30% 24.31%, #43097e 0%, transparent 80%);
	}

	section.rules{
		background: radial-gradient(20% 60% at 90% 90%, #43097e 0%, transparent 100%),
		radial-gradient(40% 40% at 30% 34.31%, #43097e 0%, transparent 100%);
	}
	section.criteria{
		background: radial-gradient(30% 30% at 90% 90%, #43097e 0%, transparent 100%),
		radial-gradient(30% 30% at 20% 64.31%, #43097e 0%, transparent 80%);
	}
	section.prizes{
		background: radial-gradient(20% 60% at 90% 90%, #43097e 0%, transparent 100%),
		radial-gradient(30% 30% at 20% 35.31%, #43097e 0%, transparent 80%);
	}

	section.partners{
		background: radial-gradient(30% 30% at 90% 90%, #43097e 0%, transparent 100%),
		radial-gradient(30% 30% at 20% 35.31%, #43097e 0%, transparent 80%);
	}
	section.privacy{
		background: radial-gradient(30% 30% at 15% 75.31%, #43097e 0%, transparent 80%);
	}
}

@media screen and (min-width: 1440px) {
	.ignition_inner>img{
		width: 255px;
	}

	.ignition_inner>p {
		color: var(--clr-white);
		font-family: var(--ff-primary);
		font-size: 36px;
		font-style: italic;
		font-weight: 700;
		line-height: normal;
		/* margin-right: 55px; */
		margin: 0;
	}

	.introduction>img,
	.criteria>img,
	.rules>img,
	.policy_img>img,
	.prizes>img {
		width: initial;
		/* margin-bottom: 30px; */
	}

	section.criteria>img {
		height: 500px;
		width: 600px;
		/* object-fit: cover; */
		/* background-size: cover; */
	}

	.side_prize {
		width: 212px;
		/* height: 296px; */
		border-radius: 8px;
		border: 1px solid var(--clr-purple-1);
		background: rgba(212, 52, 254, 0.12);
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		margin-left: 30px;
	}

	footer{
		padding: 50px 150px;
	}

	.side_prize>img {
		width: 179px;
	}

	.side_prize.first>img {
		width: 296px;
	}

	.getlinked_tech_contents>h2 {
		color: var(--clr-white);
		font-family: var(--ff-secondary);
		font-size: 75px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		margin-bottom: 8px;
		/* max-width: 597px; */
		text-align: unset;
	}

		section.timeline {
			padding-top: 72px;
			padding-bottom: 109px;
		}
}